html {
    width: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: rgb(255, 255, 255)
}

.background {
  background-image: linear-gradient(rgb(0, 68, 255), rgb(255, 255, 255));
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 1%;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#ffffff,#ff1670);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.add-items {
    margin: auto;
    width: 60%;
    height: 20%;
    display: flex;
    margin-bottom: 5%;
}

input {
    width: 80%;
    height: 30px;
    padding: 10px 20px;
    font-size: 1em;
    text-transform: capitalize;
    border: none;
    margin: 0;
}

.addButton {
    width: 20%;
    height: 50px;
    padding: 10px 20px;
    font-size: 1em;
    background: #03fa93;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    margin: 0;
}

.addButton:hover {
    background-color: #00aa63;
}


input:focus {
    background-color: rgb(206, 236, 255);
}

ul {
    width: 60%;
    margin: auto;
    padding: 0;
    list-style-type: none;
    text-transform: capitalize;
    font-size: 1em;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgb(58, 137, 255);
    font-size: 18px;
    transition: 0.2s;
    color: black;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: rgb(113, 170, 255);
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: rgba(129, 209, 255, 0.9);
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #00af66;
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked:nth-child(odd) {
      background-color: rgb(0, 170, 113);
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
